@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<div class="d-flex flex-column h-100">
    <div class="p-0">
        <a class="navbar-brand d-flex align-items-center gap-2" href="">
            <span class="bi bi-graph-up text-primary" style="color: var(--color-primary-500) !important;"></span>
            Verity
        </a>
    </div>

    <nav class="flex-grow-1 pt-3">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                        <span class="bi bi-speedometer2" aria-hidden="true"></span>
                        <span>Dashboard</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="transactions" Match="NavLinkMatch.All">
                        <span class="bi bi-list-ul" aria-hidden="true"></span>
                        <span>Extrato</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="transactions/create">
                        <span class="bi bi-plus-lg" aria-hidden="true"></span>
                        <span>Novo Lançamento</span>
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                 <div class="nav-item">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span>
                        <span>Entrar</span>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>

    <AuthorizeView>
        <Authorized>
            <div class="p-3 border-top border-secondary border-opacity-25 mt-auto">
                <a class="nav-link text-danger bg-transparent" href="#" @onclick="BeginLogOut">
                    <span class="bi bi-box-arrow-right me-2" aria-hidden="true"></span> Sair
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    private void BeginLogOut()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }
}
